.card {
  color: red;
}
.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}
p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: #bfff00;
  -webkit-text-stroke: 1px rgb(236, 16, 133);
  direction: rtl;
}
#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: justify;
  letter-spacing: 0.1em;
}

span {
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline solid red;
}
span:hover {
  text-decoration-line: line-through;
  text-decoration-style: double;
}
.span-b {
  text-decoration-color: blue;
  text-decoration-color: blue;
}
pre {
  tab-size: 3;
}
* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-display: swap;
}
span {
  font-size: larger;
  font-weight: lighter;
  font-style: oblique;
}
p {
  font-stretch: expanded;
}
.test {
  display: none;
}
.block {
  display: block;
  background: rgb(208, 208, 208);
  margin: auto;

  width: 100%;
  max-width: 600px;

  min-height: 100px;
  max-height: max-content;

  padding: 15px;
}
